{% load static i18n googlesearch_inclusion_tags %}

      <div class="container">
        <a href="{% url 'index' %}"><img class="logo" src="{% static 'img/logo.svg' %}"></a>
        <ul class="icons">
          <li class="search_li">
            <div class="search opacity x-search" title="{% trans 'Поиск по сайту' %}"></div>
            {% googlesearch_form %}
            {% comment %}<input type="text" class="search_line" placeholder="{% trans 'Поиск...' %}">{% endcomment %}
          </li>
          <li class="lang_li">
            <a href="#" class="lang opacity">{{ LANGUAGE_CODE|upper }}</a>
            <ul class="submenu">{% for code, lang in LANGUAGES %}{% if code != LANGUAGE_CODE %}
              {% if code == 'ru' or code == 'en' %}
              <li><a href="/{{ code }}/" class="opacity">{{ code|upper }}</a></li>
              {% endif %}
              {% endif %}{% endfor %}
            </ul>
          </li>
          <li>
            <a href="skype:sagavoyages?call" class="skype opacity" title="Skype: sagavoyages"></a>
          </li>
          <li class="telephone_li">
            {% if LANGUAGE_CODE == 'ru' %}
            <span class="telephone opacity x-telephone" title="Tел: 8 880 775 21 01"></span>
            <span class="telephone_number"><a href="tel:88807752101">8&nbsp;880&nbsp;775&nbsp;21&nbsp;01</a></span>
            {% else %}
            <span class="telephone opacity x-telephone" title="Tel: 007 961 273 57 50"></span>
            <span class="telephone_number"><a href="tel:0079612735750">007&nbsp;961&nbsp;273&nbsp;57&nbsp;50</a></span>
            {% endif %}
          </li>
        </ul>
        <ul class="topmenu">
          <li><a href="{% url 'tour:list' %}">{% trans 'Туры' %}</a></li>
          <li><a href="{% url 'about:about' %}">{% trans 'О нас' %}</a></li>
          <li><a href="{% url 'blog:list' %}">{% trans 'Блог о России' %}</a></li>
          <li><a href="{% url 'partners:partners' %}">{% trans 'Партнерам' %}</a></li>
          <li><a href="{% url 'services:services' %}">{% trans 'Наши услуги' %}</a></li>
          <li><a href="#contacts" id="go_contacts">{% trans 'Контакты' %}</a></li>
        </ul>
      </div>
