html,body{
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	min-width: 1280px;
	min-height: 400px;
	display: flex;
}
.err404{
	width: 454px;
	height: 161px;
	background: url("img/404.png") no-repeat;
	margin:auto;
	position: relative;
	display: flex;
}
.button_action{
	border:1px solid #8da6c9;
	color:#8da6c9;
	background:white;
	font-size: 16px;
	z-index: 1;
	margin:0 auto;
	margin-top:200px;
	margin-bottom: 20px;
	padding: 15px 40px 15px 40px;
	height: 20px;
	text-decoration: none;
}
.button_action:hover{
	color:white;
	background:#8da6c9;
	text-decoration: none;
}