.service h2{
	padding-bottom: 35px;
}
.service .container{
	position: relative;
	z-index: 2;
}
.services{	
	height: 128px;
	border-bottom: 2px solid white;
	position: relative;
	background: #7c9dca;
}
.services:hover .service_darker{
	background: #7c9dca;
	opacity:1;
}
.services .container{
	display: flex;
}
.services p{
	display: block;
	margin:auto 0;
	margin-left: 45px;
	font-size: 24px;
	color: white;
	/*line-height: 128px;
	vertical-align: middle;*/
	font-weight: lighter;
	padding-right: 30px;
}
.ser_1{
	background: url("img/service/1.jpg") no-repeat;	
	background-size: cover;
}
.ser_2{
	background: url("img/service/2.jpg") no-repeat;	
	background-size: cover;
}
.ser_3{
	background: url("img/service/3.jpg") no-repeat;	
	background-size: cover;
}
.ser_4{
	background: url("img/service/4.jpg") no-repeat;	
	background-size: cover;
}
.ser_5{
	background: url("img/service/5.jpg") no-repeat;	
	background-size: cover;
}
.ser_6{
	background: url("img/service/6.jpg") no-repeat;	
	background-size: cover;
}
.ser_7{
	background: url("img/service/7.jpg") no-repeat;	
	background-size: cover;
}
.ser_8{
	background: url("img/service/8.jpg") no-repeat;	
	background-size: cover;
}
.ser_9{
	background: url("img/service/9.jpg") no-repeat;	
	background-size: cover;
}
.ser_10{
	background: url("img/service/10.jpg") no-repeat;	
	background-size: cover;
}
.ser_11{
	background: url("img/service/11.jpg") no-repeat;	
	background-size: cover;
}
.ser_12{
	background: url("img/service/12.jpg") no-repeat;	
	background-size: cover;
}
.ser_13{
	background: url("img/service/13.jpg") no-repeat;	
	background-size: cover;
}
.service_darker{
	width: inherit;
	height: inherit;
	background: #16233b;
	opacity: 0.5;
	position: absolute;
	top:0;
	left:0;
	z-index: 1;
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
}