.example{
	height: 100px;
}
.select_tours{
	height: 55px;
	margin-top: 45px;
	margin-bottom:20px;
}
.pack_of_tours{
	padding-left: 20px;
	overflow: hidden;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
	overflow: hidden;
	position: relative;
}
.tour{
	width: 400px;
	height: 560px;
	margin-bottom: 20px;
	margin-right: 20px;
	float: left;
	vertical-align: top;
	background:white url("img/loading2.gif") no-repeat;
	background-position: 136px 216px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	color: white;
	font-size: 16px;
}
.tour img{
	width: inherit;
	height: inherit;
	position: absolute;
	left:0;
	top:0;
}
.small_darker_wrap{
	height: inherit;
	width: inherit;
	position: relative;
}
.tour .small_darker{
	background: rgba(22,35,59,.5);
	width: inherit;
	height: inherit;
	z-index: 2;
	/*opacity: 0;*/
	margin-top: 490px;
	-webkit-transition: all .75s ease-out 0.2s;
	-moz-transition: all .75s ease-out 0.2s;
	-o-transition: all .75s ease-out 0.2s;
	transition: all .75s ease-out 0.2s;
	position: relative;
}
.tour:hover .small_darker{
	margin-top: 0;
	opacity: 1;
}
.tour:hover .name_of_tour{
	margin-top:190px;
}
.tour .name_of_tour{
	font-weight: bold;
	text-transform: uppercase;
	-webkit-transition: all .75s ease-out 0.2s;
	-moz-transition: all .75s ease-out 0.2s;
	-o-transition: all .75s ease-out 0.2s;
	transition: all .75s ease-out 0.2s;
}
.tour .footer_tour{
	position: absolute;
	top: 460px;
	left:25px;
	width: 350px;
	border-top:1px solid rgba(255,255,255,.5);
}
.footer_tour p{
	margin-top: 10px;
}
.footer_tour p span{
	color:#8da6c9;
	padding-left: 10px;
}
.small_darker>p{
	margin-left: 25px;
	vertical-align: bottom;
	float: left;
}
.small_darker .name_of_tour{
	padding-top: 15px;
	margin-bottom:30px;
	margin-top: 0px;
	font-size: 18px;
}
.small_darker .about_tour{
	max-height: 380px;
	line-height: 1.5;
	overflow: hidden;
}
.tours .button_action{
	border:1px solid #8da6c9;
	color:#8da6c9;
	background:white;
	margin-bottom: 20px;
	padding: 15px 40px 15px 40px;
	font-size: 16px;
	z-index: 1;
}
.button_wrap{
	text-align: center;
	position: relative;
}
.tours .button_action:hover{
	color:white;
	background:#8da6c9;
}
.button_wrap.no_action .stop{
	cursor: not-allowed;
	width: 240px;
	height:70px;
	left:520px;
	position: absolute;
	z-index: 5;
	background: rgba(255,255,255,.5);
}
.select_tours select{
	width: 295px;
	height: 50px;
	margin-left: 20px;
}
.select_tours .ui-multiselect{
	width: 292px !important;
	height: 50px ;
	margin:0;
	padding:0;
	margin-left: 20px;
	background:white;
	border-radius:0;
	border:1px solid #7b9dc9;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 18px;
	color:black;
	position: relative;
}
.select_tours .ui-multiselect span:nth-child(2){
	position: absolute;left:15px;
	top:12px;
}
.select_tours .ui-multiselect .ui-icon-triangle-2-n-s{
	background: url("img/multiselect_arrow.png") no-repeat;
	width: 50px;
	height: 50px;
	position: absolute;
	right: -1px;
	top:-1px;
	cursor: pointer;
	opacity: 1;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}
.select_tours .ui-multiselect .ui-icon-triangle-2-n-s:hover{
	opacity:0.8;
}
.select_tours .ui-multiselect.ui-state-active{
	border-bottom: 1px solid white;
}
.select_tours .ui-multiselect.ui-state-focus , .select_tours .ui-multiselect.ui-state-active {
	outline: none;
}
.ui-multiselect-checkboxes input {
    position: absolute;
    left: -9999px;
}
.ui-multiselect-checkboxes  label {
    width: 110px;
    padding:5px 5px 0 25px;
	display: block;
	margin: 0;
	float: left;
	font-size: 14px;
	word-wrap:break-word;
	margin-top: 5px;
	text-align: left;
	background-position: 240px  18px;
}
body .ui-multiselect-menu{
	padding: 0 ;
	background:white ;
	border-radius:0 ;
	border:1px solid #7b9dc9 ;
	border-top: none;
	font-family: 'Open Sans', sans-serif ;
	font-weight: lighter ;
	font-size: 16px ;
	color:black ;
}
body .ui-widget-header{
	padding: 0 ;
	margin:0;
	background:#f2f5f9;
	border-radius:0 ;
	border:none ;
	font-family: 'Open Sans', sans-serif ;
	font-weight: lighter ;
	font-size: 16px ;	
	height: 50px ;
	display: none;
}
body .ui-widget-header a{
	color:black ;
	font-size: 18px;
}
body .ui-multiselect-checkboxes li{
	height: 50px;
	padding: 0;
	border-top:1px solid #dce0e6;
}
body .ui-multiselect-checkboxes label{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 50px;
	color:black;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif ;
	font-weight: lighter ;
	border:none;
	border-radius: 0;
	position: relative;
	overflow: hidden;
}
body .ui-multiselect-checkboxes label input{
	position: absolute;
}
body .ui-multiselect-checkboxes label:hover, body .ui-multiselect-checkboxes label.ui-state-hover{
	border:none;
	background: #f2f5f9;
	font-weight: lighter;
	color: black;
}
body .ui-multiselect-checkboxes label span{
	padding-left: 15px;
	padding-top:15px;
	display: block;
}
body .ui-multiselect-checkboxes label input+ span {
    background: url("img/checkbox_no.png") no-repeat;
    background-position: 240px 18px;
}
body .ui-multiselect-checkboxes label input:checked + span {
    background: url("img/checkbox_yes.png") no-repeat;
    background-position: 240px 18px;
}

.pack_of_tours .waiter{
	width: 1280px;
	height: 0;
	opacity: 0;
	background: rgba(255,255,255,.5) url("img/loading2.gif") no-repeat;
	background-position: 576px 200px;
	z-index: 20;
	position: absolute;
	top:0;
	left:0;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
}
.pack_of_tours .waiter.on{
	opacity: 1;
	height: 20000px;
}
