.typical{
	color: #16233b;
	padding-bottom: 40px;
}
.typical .container{
	overflow: hidden;
}
.typical p{
	text-align: left;
	padding: 0 100px 0 100px;
	margin-left:25px;
	margin-top: 25px;
	line-height: 1.7;
	font-size: 14px;
	/*float: left;*/
	position: relative;
}
.typical h3{
	text-align: center;
	font-size: 20px;
	margin-top: 25px;
	position: relative;
}
.typical .image{
	display: inline-block;
	margin-left: 20px;
	margin-top: 40px;
	padding-bottom: 20px;
	background:white url("img/loading2.gif") no-repeat;
	background-position: 136px 72px;
}
.typical img{
	width: 400px;
	height: 270px;
	display: block;
}
.typical label{
	margin-top:10px;
	float: left;
	font-style: italic;
	font-size: 14px;
	color: #16233b;
}
.typical ul{
	list-style: disc outside;
	padding: 0 100px 0 140px;
	margin-top: 25px;
}
.typical ul li{
	margin-top:30px;
	text-align: left;
	margin-top: 25px;
	line-height: 1.7;
	font-size: 14px;
	color: #7b9dc9;
}
.typical ul li span{
	color: #16233b;
}
.typical iframe{
	width: 1240px;
	margin-left:20px;
	margin-top:25px;
}
.typical table{
	margin-top:25px;
	width: 1240px;
	margin-left:20px;
}
.typical table caption{
	text-align: center;
	background: #eef0f6;
	border:1px solid #dfe1e7;
	font-size: 16px;
	padding:10px 0 10px 0;
}
.typical tr:nth-child(odd){
	background: #f6f7fa;
}
.typical tr:nth-child(even){
	background: #eef0f6;
}
.typical tr td{
	border-right:1px solid #dfe1e7;
	padding: 10px 10px 10px 25px;
}
.typical tr td:last-child{
	border-right:none;
}
.typical strong{
	font-weight: bold;
	font-size: 16px;
}