{% extends 'layout.html' %}
{% load static i18n imagefit %}

{% block extracss %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/blog.css' %}" media="screen">
{% endblock %}


{% block content %}
    <div class="blog content">
      <div class="container">
        <h2>{% trans 'Блог о России' %}</h2>
        <div class="pack_of_posts">
          <div class="waiter"></div>{% for article in article_list %}
          <div class="post">{% if article.img %}
            <div><img src="{{ article.img.url }}"></div>{% endif %}
            <p class="name_of_post">{{ article|safe }}</p>
            <p class="about_post">{{ article.teaser|safe }}</p>
            <a href="{{ article.absolute_url }}" target="_blank">{% trans 'Читать далее' %}</a>
          </div>{% endfor %}
        </div>
        <!-- <div class="button_wrap">
          <div class="stop"></div>
          <div class="button_action">Показать еще</div>
        </div> -->
      </div>
    </div>
{% endblock content %}