{% load i18n %}


    <form id="cref" action="{% url "googlesearch-results" %}">
        <input type="hidden" name="cref" value="http{% if request.is_secure %}s{%endif %}://{{ request.META.HTTP_HOST }}{% url "googlesearch-cref-cse" %}" />
        <input type="hidden" name="cof" value="FORID:9" />
        <input type="hidden" name="lr" value="lang_{{ LANGUAGE_CODE }}" />
        <input type="text" name="q" class="search_line" />
        <input type="submit" name="sa" value="{% trans "Search" %}" style="display: none;"/>
    </form>
    <script type="text/javascript" src="http://www.google.com/cse/brand?form=cref"></script>

