{% extends 'layout.html' %}
{% load static i18n %}

{% block extracss %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/service.css' %}" media="screen">
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{% static 'js/service.js' %}" charset="UTF-8"></script>
{% endblock %}

{% block content %}
    <div class="service content">
      <div class="container">
        <h2>{{ object.title|safe }}</h2>
      </div>
      {% for plaha in object.plaha_set.published %}
      <div class="services ser_1 content" {% if plaha.img %}style="background-image: url({{ plaha.img.url }});"{% endif %}>
        <div class="service_darker"></div>
        <a {% if plaha.article %}href="{{ plaha.article.absolute_url }}"{% endif %} class="container">
          <p>{{ plaha.title }}</p>
        </a>
      </div>
      {% endfor %}
    </div>




{% endblock %}
