{% extends 'layout.html' %}
{% load static i18n %}

{% block extracss %}
  <link rel="stylesheet" href="{% static 'js/fancybox/source/jquery.fancybox.css' %}?v=2.1.5" type="text/css" media="screen" />
  <link rel="stylesheet" href="{% static 'js/fancybox/source/helpers/jquery.fancybox-buttons.css' %}?v=1.0.5" type="text/css" media="screen" />
  <link rel="stylesheet" href="{% static 'js/fancybox/source/helpers/jquery.fancybox-thumbs.css' %}?v=1.0.7" type="text/css" media="screen" />
  <link type="text/css" rel="stylesheet" href="{% static 'css/about.css' %}" media="screen">
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{% static 'js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/fancybox/source/jquery.fancybox.pack.js' %}?v=2.1.5"></script> 
  <script type="text/javascript" src="{% static 'js/fancybox/source/helpers/jquery.fancybox-buttons.js' %}?v=1.0.5"></script>
  <script type="text/javascript" src="{% static 'js/fancybox/source/helpers/jquery.fancybox-media.js' %}?v=1.0.6"></script>
  <script type="text/javascript" src="{% static 'js/fancybox/source/helpers/jquery.fancybox-thumbs.js' %}?v=1.0.7"></script>
  <script type="text/javascript" src="{% static 'js/about.js' %}" charset="UTF-8"></script>
{% endblock %}

{% block content %}
    <div class="top_slider content">
      <div class="container">
        <div id="slides">
          {% for slide in object.slide_set.published %}
          <div class="slider_photo">
            <p class="title">{{ slide.title|safe }}</p>
            <p class="description">{{ slide.teaser|safe }}</p>
            <div class="button_wrap">
              {% if slide.link %}
              <a href="{{ slide.link }}"><div class="button_action">{% trans 'Подробнее' %}</div></a>
              {% endif %}
            </div>
            {% if slide.img %}
            <img src="{{ slide.img.url }}">
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    
    <div class="about content">
      <div class="container">
        {{ object.text|safe }}
      </div>
    </div>
    
    <div class="our_principles content">
      <div class="container">
        <h2>{{ object.header1|safe }}</h2>
        <div class="princip">
          {% if object.princip1_img %}
          <img src="{{ object.princip1_img.url }}">
          {% endif %}
          <p class="up_p">{{ object.princip1_title|safe }}</p>
          <p class="down_p">{{ object.princip1_description|safe }}</p>
        </div>
        <div class="princip">
          {% if object.princip2_img %}
          <img src="{{ object.princip2_img.url }}">
          {% endif %}
          <p class="up_p">{{ object.princip2_title|safe }}</p>
          <p class="down_p">{{ object.princip2_description|safe }}</p>
        </div>
        <div class="princip">
          {% if object.princip3_img %}
          <img src="{{ object.princip3_img.url }}">
          {% endif %}
          <p class="up_p">{{ object.princip3_title|safe }}</p>
          <p class="down_p">{{ object.princip3_description|safe }}</p>
        </div>
        
      </div>
    </div>
    
    <div class="sertificates content">
      <div class="container">
        <h2>{{ object.header2|safe }}</h2>
        {% for cert in object.certificate_set.published %}
          <a class="fancybox" rel="group" {% if cert.img %}href="{{ cert.img.url }}"{% endif %}><img src="{% if cert.thumb_img %}{{ cert.thumb_img.url }}{% else %}{{ cert.img.url }}{% endif %}"></a>
        {% endfor %}
      </div>
    </div>
    
        <div class="feedbacks content">
      <div class="container">
        <h2>{{ object.header3|safe }}</h2>
        {% for review in object.reviews_set.published %}
        {% if forloop.counter < 4 %}
        <div class="feedback">
          {% if review.img %}<img src="{{ review.img.url }}">{% endif %}
          <div class="spell">
            <div class="spell_arrow"></div>
            <p class="feedback_name">{{ review.name }}</p>
            <p class="feedback_text">{{ review.message }}</p>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="feedback_more">
          {% for review in object.reviews_set.published %}
          {% if forloop.counter > 3 %}
          <div class="feedback">
            {% if review.img %}<img src="{{ review.img.url }}">{% endif %}
            <div class="spell">
              <div class="spell_arrow"></div>
              <p class="feedback_name">{{ review.name }}</p>
              <p class="feedback_text">{{ review.message }}</p>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
        <div class="button_wrap">
          <div class="button_action">{% trans 'Показать все' %}</div>
        </div>
      </div>
    </div>



    
{% endblock %}