{% extends 'layout.html' %}
{% load static i18n %}

{% block extracss %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/for_partners.css' %}" media="screen">
{% endblock %}

{% block extrajs %}
  <script type="text/javascript" src="{% static 'js/for_partners.js' %}" charset="UTF-8"></script>
{% endblock %}

{% block content %}
    
    <div class="for_agency content">
      <div class="container">
        <div class="top">
          {{ object.text1|safe }}
        </div>
        
        <div class="agency_block">
          {% if object.block1_img %}
          <img src="{{ object.block1_img.url }}">
          {% endif %}
          <p class="agency_big">{{ object.block1_title|safe }}</p>
          <p class="agency_small">{{ object.block1_description|safe }}</p>
        </div>
        
        <div class="agency_block doc">
          {% if object.block2_img %}
          <img src="{{ object.block2_img.url }}">
          {% endif %}
          <p class="agency_big">{{ object.block2_title|safe }}</p>
          <p class="agency_small"><a class="download_doc" {% if object.block2_file %}href="{{ object.block2_file.url }}"{% endif %} target="_blank">{{ object.block2_file_title|safe }}</a></p>
        </div>
        <div class="agency_block telo">
          {% if object.block3_img %}
          <img src="{{ object.block3_img.url }}">
          {% endif %}
          <p class="agency_big">{{ object.block3_title|safe }}</p>
          <p class="agency_small">
            {{ object.block3_description|safe }}
          </p>
        </div>
      </div>
    </div>
    
    <div class="for_hotels content">
      <div class="container">
        <div class="todo">
        {{ object.text2|safe }}
        </div>
      </div>
    </div>
    
    <div class="service content">
      <div class="container">
        <h2>{{ object.header_before_plashkas|safe }}</h2>
      </div>
      {% for plaha in object.plaha_set.published %}
      <div class="services ser_14 content" {% if plaha.img %}style="background-image: url({{ plaha.img.url }});"{% endif %}>
        <div class="service_darker"></div>
        <div class="container">
          <p>{{ plaha.title }}</p>
        </div>
      </div>
      {% endfor %}
    </div>



    
{% endblock %}