{% extends 'layout.html' %}
{% load static i18n imagefit googlesearch_inclusion_tags %}

  {% block headerclass %}tour-detail{% endblock %}
  
  {% block content %}
    <!-- <div class="example content"></div> -->
    <div class="typical content">
      <div class="container">
        <h2>{% trans "Результаты поиска" %}</h2>
        {% googlesearch_results %}
      </div>
    </div>
  {% endblock %}