.top_slider{
	height: 600px;
}
.top_slider .container{
	position:relative;
}
#slides{
	position: absolute;
	top:0;
	left:0;
	width: 1280px;
	height: 600px;
}
.slider_photo{
	position: relative;
	width: inherit;
	height: inherit;
	display: block;
	z-index: 2;
	background: #16233b;
	/*background: #d9d9d9 url("img/loading2.gif") 576px 236px no-repeat;*/
}
.slider_photo img{
	position: absolute;
	top:0;
	left:0;
}
#slides .slidesjs-container{
	z-index: 1;
	position: relative;
}
.slidesjs-pagination{
	position: absolute;
	left: 612px;
	top:570px;
	z-index: 2;
	font-size: 0;
	overflow: hidden;
	width: auto;	
	display: block;
}
.slidesjs-pagination li{
	height: 10px;
	width: 10px;
	display: inline-block;
	margin-right: 12px;
}
.slidesjs-pagination li:last-child{
	margin-right: 2px;
}
.slidesjs-pagination li a{
	height: inherit;
	width: inherit;
	display: block;
	background: #959794;
	background: rgba(255,255,255,.5);
	border-radius: 20px;
	float: left;
	webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
}
a:-webkit-any-linl , .slidesjs-pagination li a, .slidesjs-pagination li a:active, .slidesjs-pagination li a:hover, .slidesjs-pagination li a:visited{
	text-decoration: none;
}
.slidesjs-pagination li a.active{
	background: white;
}
#slides .button_action{
	border:1px solid white;
	color:white;
	background:none;
	margin-bottom: 20px;
	padding: 8px 30px 10px 30px;
	font-size: 18px;
	
}
.button_wrap{
	text-align: center;
	position: relative;
	z-index: 2;
}
#slides .button_action:hover{
	color:#16233b;
	background:white;
}
#slides p{
	text-align: center;
	color: white;
	z-index: 2;
	position: relative;
	text-decoration: none !important;
	font-weight: 300;	
}
#slides .title{
	font-size: 32px;
	margin-top:120px; 
	margin-bottom: 55px;
}
#slides .description{
	margin:0 auto;
	width: 720px;
	line-height: 1.5;
	font-size: 20px;
	font-weight: lighter;
	margin-bottom: 45px;
	max-height: 250px;
	overflow: hidden;
}
#slides .slidesjs-navigation{
	height: 30px;
	width: 17px;
	display: block;
	background: url("img/slider_arrow.png") no-repeat;
	position: absolute;
	z-index: 2;
	font-size: 0;
	opacity: 0.5;
	webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
}
#slides .slidesjs-navigation:hover{
	opacity: 1;
}
#slides .slidesjs-previous{
	left:20px;
	top:285px;
}
#slides .slidesjs-next{
	right:20px;
	top:300px;
	transform: rotate(180deg);
    -webkit-transform: rotate(180deg); /** Chrome & Safari **/
    -o-transform: rotate(180deg); /** Opera **/
    -moz-transform: rotate(180deg); /** Firefox **/
}


#slides .slidesjs-play, #slides .slidesjs-stop{
	display: none !important;
}
.about{}
.about h1,
.about h2{
	padding:25px 0;
}
.about p{
	padding: 10px 100px;
	text-align: left;
	line-height: 2;
	font-size: 16px;
	color:#16233b;
}
.about strong{
	font-weight: bold;
}
.about em{
	font-style: italic;
}
.about ul{
	list-style: disc outside;
	padding: 0 100px 0 140px;
	margin-top: 25px;
}
.about ul li{
	margin-top:30px;
	text-align: left;
	margin-top: 25px;
	line-height: 1.7;
	font-size: 14px;
	color: #7b9dc9;
}
.about ul li span{
	color: #16233b;
}
.our_principles{
	height: 390px;
	background: #16233b url("img/mountains.jpg") no-repeat;
	background-size: cover;
}
.our_principles .container{}
.our_principles h2{
	color: white;
	padding-top: 35px;
}
.princip{
	height: 250px;
	width: 385px;
	padding:40px 20px 0 20px;
	float: left;
	color: white;
	text-align: center;
}
.princip img{
	width: 100px;
	height: 100px;
	padding-bottom:10px; 
}
.princip .up_p{
	font-size: 20px;
}
.princip .down_p{
	font-size: 16px;
	margin-top: 25px;
}
.sertificates{
	padding-bottom: 40px;
	overflow: hidden;
}
.sertificates img{
	width: 400px;
	height: 560px;
	margin-left:20px;
	margin-top: 35px;
	/*float: left;*/
	cursor: pointer;
}

.feedbacks{
	background: #f6f7fa;
	padding-bottom: 30px;
}
.feedbacks h2{
	padding: 35px 0;
}
.feedback{
	width: inherit;
	overflow: hidden;
}
.feedback img{
	width: 100px;
	height: 100px;
	border-radius:200px;
	margin-left: 90px;
	float: left;
}
.spell{
	background: white;
	width: 890px;
	margin-left: 45px;
	margin-bottom:20px;
	padding: 25px 70px 20px 20px;
	color:#16233b;
	float: left;
	position: relative;
}
.feedback_name{
	font-size: 22px;
}
.feedback_text{
	font-size: 16px;
	margin-top: 25px;
	line-height: 1.5;
}
.spell_arrow{
	position: absolute;
	top:20px;
	left:-20px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 20px 20px 0;
	border-color: transparent #ffffff transparent transparent;
}
.feedbacks .button_action{
	border:1px solid #8da6c9;
	color:#8da6c9;
	background:none;
	margin-bottom: 20px;
	padding: 15px 40px 15px 40px;
	font-size: 16px;
	z-index: 1;
}
.button_wrap{
	text-align: center;
	position: relative;
}
.feedbacks .button_action:hover{
	color:white;
	background:#8da6c9;
}
.feedback_more{
	display: none;
}