.example{
	height: 100px;
}
.pack_of_posts{
	margin-top:35px;
	padding-left: 20px;
	overflow: hidden;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
	overflow: hidden;
	position: relative;
}
.post{
	width: 397px;
	height: 560px;
	margin-bottom: 20px;
	margin-right: 20px;
	float: left;
	vertical-align: top;
	background:white url("img/loading2.gif") no-repeat;
	background-position: 136px 80px;
	position: relative;
	color: #16233b;
	font-size: 14px;
	border:1px solid #7b9dc9;
}
.post a{
	left:25px;
	position: absolute;
	top:530px;
	font-style: italic;
	font-size: 16px;
	text-decoration: underline;
	color: #16233b;
	padding-right: 5px;
}
.post a:hover{
	color: #7b9dc9;
}
.post div:first-child{
	width: inherit;
	height: 280px;
	position: absolute;
	left:0;
	top:0;
	overflow: hidden;
}
.post img{
	width: inherit;
	height: inherit;
	position: absolute;
	left:0;
	top:0;
}
.post:hover img{
	-webkit-animation: scaler 2s;
	-moz-animation: scaler 2s;
	-o-animation: scaler 2s;
	animation: scaler 2s;
}
.pack_of_posts p{
	margin-left: 25px;
	vertical-align: bottom;
	float: left;
	padding-right: 15px;
}
.pack_of_posts .name_of_post{
	padding-top: 15px;
	margin-bottom:10px;
	margin-top: 280px;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
.pack_of_posts .about_post{
	max-height: 195px;
	line-height: 1.5;
	overflow: hidden;
}
.blog .button_action{
	border:1px solid #8da6c9;
	color:#8da6c9;
	background:white;
	margin-bottom: 20px;
	padding: 15px 40px 15px 40px;
	font-size: 16px;
	z-index: 1;
}
.button_wrap{
	text-align: center;
	position: relative;
}
.blog .button_action:hover{
	color:white;
	background:#8da6c9;
}
.button_wrap.no_action .stop{
	cursor: not-allowed;
	width: 240px;
	height:70px;
	left:520px;
	position: absolute;
	z-index: 5;
	background: rgba(255,255,255,.5);
}
.pack_of_posts .waiter{
	width: 1280px;
	height: 0;
	opacity: 0;
	background: rgba(255,255,255,.5) url("img/loading2.gif") no-repeat;
	background-position: 576px 200px;
	z-index: 20;
	position: absolute;
	top:0;
	left:0;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
}
.pack_of_posts .waiter.on{
	opacity: 1;
	height: 20000px;
}
