.service h2{
	padding-bottom: 35px;
}
.service .container{
	position: relative;
	z-index: 2;
}
.services{	
	height: 128px;
	border-bottom: 2px solid white;
	position: relative;
	background: #7c9dca;
}
.services:hover .service_darker{
	background: #7c9dca;
	opacity:1;
}
.services .container{
	display: flex;
}
.services p{
	display: block;
	margin:auto 0;
	margin-left: 45px;
	font-size: 24px;
	color: white;
	/*line-height: 128px;
	vertical-align: middle;*/
	font-weight: lighter;
	padding-right: 30px;
}
.ser_1{
	background: url("img/service/1.jpg") no-repeat;	
	background-size: cover;
}
.ser_2{
	background: url("img/service/2.jpg") no-repeat;	
	background-size: cover;
}
.ser_3{
	background: url("img/service/3.jpg") no-repeat;	
	background-size: cover;
}
.ser_4{
	background: url("img/service/4.jpg") no-repeat;	
	background-size: cover;
}
.ser_5{
	background: url("img/service/5.jpg") no-repeat;	
	background-size: cover;
}
.ser_6{
	background: url("img/service/6.jpg") no-repeat;	
	background-size: cover;
}
.ser_7{
	background: url("img/service/7.jpg") no-repeat;	
	background-size: cover;
}
.ser_8{
	background: url("img/service/8.jpg") no-repeat;	
	background-size: cover;
}
.ser_9{
	background: url("img/service/9.jpg") no-repeat;	
	background-size: cover;
}
.ser_10{
	background: url("img/service/10.jpg") no-repeat;	
	background-size: cover;
}
.ser_11{
	background: url("img/service/11.jpg") no-repeat;	
	background-size: cover;
}
.ser_12{
	background: url("img/service/12.jpg") no-repeat;	
	background-size: cover;
}
.ser_13{
	background: url("img/service/13.jpg") no-repeat;	
	background-size: cover;
}
.ser_14{
	background: url("img/service/14.jpg") no-repeat;	
	background-size: cover;
}
.ser_15{
	background: url("img/service/15.jpg") no-repeat;	
	background-size: cover;
}
.service_darker{
	width: inherit;
	height: inherit;
	background: #16233b;
	opacity: 0.5;
	position: absolute;
	top:0;
	left:0;
	z-index: 1;
	-webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
}
.for_agency .container{
	overflow: hidden;
	color: #16233b;
}
.for_agency .top{
	text-align: center;
	padding: 20px 140px;
	line-height: 2.0;
}
.agency_block{
	width: 295px;
	float: left;
	padding:40px 65px;
	text-align: center;
}
.agency_big{
	font-size: 20px;
	line-height: 1.3;
	padding-top: 20px;
}
.agency_small{
	font-size: 16px;
	padding-top: 20px;
}
body a.download_doc, body a.download_doc:hover{
	font-weight: bold;
	color:#7c9dca;
	text-decoration: none;
	padding-bottom: 1px;
	webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
}
body a.download_doc:hover{
	border-bottom: 2px solid #7c9dca;
}
.agency_block.telo a, .agency_block.telo a:hover{
	text-decoration: none;
	color:#16233b;
}
.for_hotels .todo{
	text-align: center;
	padding: 25px 95px;
	line-height: 2.0;
}
.for_hotels a{
	text-decoration: none;
	color:#16233b;
}