body{
	font-family: 'Open Sans', sans-serif;
}
body>div.content{
	min-width: 1280px;
}
.content{
	width: 100%;
}
.container{
	margin: 0 auto;
	width: 1280px;
	height: 100%;
}
.header{
	height: 100px;
	background: rgba(255,255,255,.9);
	position: fixed;
	border-bottom: 1px solid rgba(255,255,255,.8);
	z-index: 45;
	webkit-transition: height .75s ease-out;
	-moz-transition: height .75s ease-out;
	-o-transition: height .75s ease-out;
	transition: height .75s ease-out;
}
.header.hide_header{
	height: 10px;
	border-bottom: 1px solid #e7e9eb;
	overflow: hidden;
}
.header.hide_header .container{
	opacity: 0;
}
.header.hide_header:hover{
	height: 100px;
	border-bottom: none;
	overflow: visible;
}
.header.hide_header:hover .container{
	opacity: 1;
}
.header .container{
	border-bottom: 1px solid #e7e9eb;
	margin-top: -1px;
	webkit-transition: all .5s ease-out .25s;
	-moz-transition: all .5s ease-out .25s;
	-o-transition: all .5s ease-out .25s;
	transition: all .5s ease-out .25s;
}
.header .logo{
	width: 161px;
	height: 55px;
	float: left;
	margin:30px 20px 0 20px;
	-webkit-transition: all 1.5s cubic-bezier(0,1.5,1,2);
	-moz-transition: all 1.5s cubic-bezier(0,1.5,1,2);
	-o-transition: all 1.5s cubic-bezier(0,1.5,1,2);
	transition: all 1.5s cubic-bezier(0,1.5,1,2);
	-webkit-animation: scaler 2s;
	-moz-animation: scaler 2s;
	-o-animation: scaler 2s;
	animation: scaler 2s;
}
@keyframes scaler{
	from{
		transform: scale(1.0,1.0);
	}
	50% {
		transform: scale(1.1,1.1);
	}
	to{
		transform: scale(1.0,1.0);
	}
}
@-webkit-keyframes scaler{
	from{
		-webkit-transform: scale(1.0,1.0);
	}
	50% {
		-webkit-transform: scale(1.1,1.1);
	}
	to{
		-webkit-transform: scale(1.0,1.0);
	}
}
@-moz-keyframes scaler{
	from{
		-moz-transform: scale(1.0,1.0);
	}
	50% {
		-moz-transform: scale(1.2,1.2);
	}
	to{
		-moz-transform: scale(1.0,1.0);
	}
}
@-o-keyframes scaler{
	from{
		-o-transform: scale(1.0,1.0);
	}
	50% {
		-o-transform: scale(1.1,1.1);
	}
	to{
		-o-transform: scale(1.0,1.0);
	}
}
.header .logo:hover{
	-moz-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}
.topmenu{
	list-style-type: none;
	width: auto;
	margin-top:53px;
	float: left;
	margin-left:40px;
	webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
}
.topmenu.on{
	margin-left: 0;
}
.topmenu.on2{
	margin-left: 25px;
}
.topmenu li{
	margin: 0 30px 0 30px;
	float: left;
	vertical-align: bottom;
	display: inline;
	webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
}
.topmenu.on li{
	margin: 0 15px 0 15px;
}
.topmenu.on2 li{
	margin: 0 20px 0 20px;
}
.topmenu a{
	font-size: 16px;
	color: black;
	padding:20px 0 20px 0;
	text-decoration: none;
	-webkit-transition: border-bottom 0.1s ease-out;
	-moz-transition: border-bottom 0.1s ease-out;
	-o-transition: border-bottom 0.1s ease-out;
	transition: border-bottom 0.1s ease-out;
}
.topmenu a:hover{
	border-bottom: 5px solid #7c9dca;
}
.icons{
	list-style-type: none;
	width: auto;
	margin-top:50px;
	margin-right: 15px;
	float: right;
	color:#7c9dca;
	font-size: 16px;
}
.icons .opacity{
	-webkit-transition: opacity 0.1s ease-out;
	-moz-transition: opacity 0.1s ease-out;
	-o-transition: opacity 0.1s ease-out;
	transition: opacity 0.1s ease-out;
	cursor: pointer;
}
.icons .opacity:hover{
	opacity: 1;
}
.icons>li{
	float: left;
	vertical-align: bottom;
	display: inline;
	height: 30px;
	padding: 0 15px 0 15px;
	position: relative;
}
.icons>li.lang_li{
	padding: 0;
	text-transform: uppercase;
}
.icons>li:nth-child(n+2){
	border-left:1px solid rgba(124,157,202,.5);
}
.icons .search{
	opacity: 0.6;
	background:url("img/search.png") no-repeat;
	width: 21px;
	height: 21px;
	margin-top:4px;
	float: right;
}
.icons #cref{
	width: 0;
	height: 18px;
	opacity:0;
	border:none;
	float: right;
	border-radius: 10px;
	font-size: 12px;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	margin-top: 2px;
	webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
	background: white;
}
.icons .search_line{
	width: 0;
	height: 18px;
	opacity:0;
	border:none;
	float: right;
	border-radius: 10px;
	font-size: 12px;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
	background: white;
}
.header textarea:focus, .header input:focus{
    outline: 0;
}
.icons .search_li.on .search_line{
	opacity:1;
	width: 200px;
	padding: 3px 3px 3px 10px;
	border:1px solid rgba(124,157,202,.5);
}
.icons .search_li.on #cref{
	opacity:1;
	width: 200px;
	margin-right:10px;
}
.icons .lang{
	display: block;
	opacity:0.6;
	color:#7c9dca;
	text-decoration: none;
	padding:5px 15px 5px 15px;
}
.icons .skype{
	opacity: 0.3;
	background:url("img/skype.png") no-repeat;
	width: 20px;
	height: 20px;
	margin-top:5px;
	display: block;
}
.icons .telephone{
	opacity: 0.3;
	background:url("img/telephone.png") no-repeat;
	width: 18px;
	height: 18px;
	margin-top:6px;
	display: block;
	float: right;
	z-index: 2;
}
.telephone_number{
	width: 0;
	opacity: 0;
	float: right;
	cursor: pointer;
	text-decoration: none;
	color:#7c9dca;
	margin-top:4px;
	webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
	z-index: 1;
	overflow: hidden;
}
.telephone_number a{
	text-decoration: none;
	color:#7c9dca;
	opacity: 0.6;
}
.telephone_number a:hover{
	opacity: 1;
}
.telephone_li.on .telephone_number{
	width: 125px;
	opacity:1;
	margin-right:10px;
}
.icons .skype.opacity:hover{
	opacity: 0.6;
}
.icons li:hover .submenu{
	display: block;
}
.icons .submenu:hover{
	display: block;
}
.icons .submenu{
	display: none;
	background: rgba(255,255,255,.8);
	position: absolute;
	top: 100%;
	left:-1px;
	box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
	border-left:1px solid rgba(124,157,202,.5);
	border-right:1px solid rgba(124,157,202,.5);
	border-bottom:1px solid rgba(124,157,202,.5);
}
.icons .submenu li{
	float: none;
	position: relative;
	padding-bottom: 3px;
	padding-top:3px;
	text-align: center;
	width: 52px;
	border-top:1px solid rgba(124,157,202,.5);
}
.icons .submenu li a {
	padding:5px 12px 5px 12px;
	text-decoration: none;
	opacity:0.6;
	color:#7c9dca;
}
/*=============================*/
.example{
	height: 100px;
}

/*=============================*/
.footer{
	height: 430px;
	padding-bottom: 20px;
	background:#16233b;
	/*overflow: hidden;*/
	color:white;
	font-size:14px;
	z-index: 46;
	position: relative;
}
.footer .container{
	position: relative;
}
.footer h2{
	margin-top:0px;
	padding-top:10px;
}
.russiatourism_widget_wrapper {
	position: absolute;
    bottom: 0;
    left: 20px;
}
h2{
	text-align: center;
	margin-top:35px;
	font-size: 36px;
	font-weight: lighter;
}
.title{
	font-size: 24px;
	margin-bottom: 25px;
}
.p1,.p2,.p3,.p4,.p5,.p6,.p7{
	position: absolute;
}
.p1, .p2, .p3, .p4{
	top:90px;
}
.p5, .p6, .p7{
	top:200px;
}
.p1, .p5{
	left:20px;
}
.p2, .p6{
	left:220px;
}
.p3, .p7{
	left:520px;
}
.p4{
	right: 20px;
}
.footer a{
	text-decoration: none;
	color:white;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
	cursor: pointer;
	line-height: 1.5;
	font-weight: lighter;
	text-decoration: underline;

}
.footer a:hover{
	color:#8da6c9;
}
.p7 input , .p4 input , .p4 textarea{
	width: 305px;
	padding:7px 10px 7px 15px;
	border:1px solid white;
	background: none;
	color:white;
}
.button_action{
	border:1px solid white;
	color:white;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
	font-size: 14px;
	padding:5px 15px 7px 15px;
	cursor: pointer;
	display: inline-block;
}
.button_action:hover{
	background: white;
	color:#16233b;
}
.p7 .button_action{
	position: absolute;
	right: 0;
	top:100px;
}
.p4 textarea{
	position: absolute;
	top:100px;
	left:0;
	height: 80px;
}
.p4 .button_action{
	position: absolute;
	right: 0;
	top:210px;
}
.social_block{
	position: absolute;
	left:20px;
	top:300px;
	overflow: hidden;
	height: 30px;
	width: 500px;
}
.social_block a{
	width: 30px;
	height: 30px;
	background: url("img/socials.png") no-repeat;
	margin-right: 15px;
	float: left;
	position: relative;
	vertical-align: top;
	display: block;
	opacity: 0.3;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}
.social_block a:hover{
	opacity: 1;
}
.social_block .fb{
	background-position: 0 0;
}
.social_block .gp{
	background-position: -32px 0;
}
.social_block .tw{
	background-position: -64px 0;
}
.social_block .ok{
	background-position: -96px 0;
}
.social_block .pt{
	background-position: -128px 0;
}
.social_block .vk{
	background-position: -160px 0;
}
.social_block .li{
	background-position: -192px 0;
}
.social_block .yb{
	background-position: -224px 0;
}
.social_block .tl{
	background-position: -256px 0;
}
.social_block .sw{
	background-position: -288px 0;
}
.darker{
	z-index: 50;
	width: 100%;
	height:100%;
	position: fixed;
	left:0;
	top:0;
	background: rgba(22,35,59,.5);
	display: none;
}
.darker2{
	z-index: 51;
	width: 100%;
	height:100%;
	position: fixed;
	left:0;
	top:0;
	background: rgba(22,35,59,.5);
}
.darker .subscribe_selection{
	background:white;
	width:420px;
	margin: 0 auto;
	margin-top:50px;
	color:#16233b;
	position: relative;
	padding: 20px 20px 20px 20px;
	z-index: 52;
}
.subscribe_selection .title{
	text-align: center;
	font-size: 20px;
	margin-bottom: 10px;
}
.subscribe_selection input{
	width: 15px;
	height: 15px;
	border:1px solid #a3b2cf;
}
input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}
input[type="checkbox"] + label {
    background: url("img/checkbox_no.png") no-repeat;
    background-position: 0px 7px;
    width: 110px;
    padding:5px 5px 0 25px;
	display: block;
	margin: 0;
	float: left;
	font-size: 14px;
	word-wrap:break-word;
	margin-top: 5px;
	text-align: left;
}
input[type="checkbox"]:checked + label {
    background: url("img/checkbox_yes.png") no-repeat;
    background-position: 0px 7px;
}
.type{
	overflow: hidden;
	padding: 15px 0 15px 0;
	border-bottom:1px solid #e7e9eb;
}
input[type="checkbox"] + label.main{
	margin-right: 280px;
	text-transform: uppercase;
}
.subscribe_selection{
	text-align: center;
}
.subscribe_selection .button_action{
	color:#16233b;
	border:1px solid #16233b;
	background:none;
	margin-top:20px;
}
.subscribe_selection .button_action:hover{
	color:white;
	background:#16233b;
}
#cse-search-results iframe{
	height: 1150px !important;
}
#cse-search-form{
	display: block !important;
	padding-left: 8px !important;
}

.madeby{
	position: absolute;
	right: 20px;
	bottom: 0;
	font-size: 12px;
	opacity: .7;
	line-height: 12px;
	cursor: pointer;
	webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
	display: block;
}
.madeby:hover{
	opacity: 1;
}
