.map.content .map_ .map_region_point, .map.content .map_ .map_region_name {
	cursor: pointer;
}

.great_logo{
	height: 380px;
	background: white;
	text-align: center;
	padding-top: 140px;
}
.great_logo img{
	width: 627px;
	height: 161px;
	position: relative;
}
.great_logo h1{
	font-weight: lighter;
	color:#16233b;
	font-size: 34px;
	margin-top: 30px;
}
.top_slider{
	height: 600px;
}
body .header{
	position: relative;
}
body .header.hide_header{
	position: fixed;
	top:0;
}
.top_slider .container{
	position:relative;
}
#slides{
	position: absolute;
	top:0;
	left:0;
	width: 1280px;
	height: 600px;
}
.slider_photo{
	position: relative;
	width: inherit;
	height: inherit;
	display: block;
	z-index: 2;
	background: #16233b;
	/*background: #d9d9d9 url("img/loading2.gif") 576px 236px no-repeat;*/
}
.slider_photo img{
	position: absolute;
	top:0;
	left:0;
}
#slides .slidesjs-container{
	z-index: 1;
	position: relative;
}
.slidesjs-pagination{
	position: absolute;
	left: 612px;
	top:570px;
	z-index: 2;
	font-size: 0;
	overflow: hidden;
	width: auto;	
	display: block;
}
.slidesjs-pagination li{
	height: 10px;
	width: 10px;
	display: inline-block;
	margin-right: 12px;
}
.slidesjs-pagination li:last-child{
	margin-right: 2px;
}
.slidesjs-pagination li a{
	height: inherit;
	width: inherit;
	display: block;
	background: #959794;
	background: rgba(255,255,255,.5);
	border-radius: 20px;
	float: left;
	webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
}
a:-webkit-any-linl , .slidesjs-pagination li a, .slidesjs-pagination li a:active, .slidesjs-pagination li a:hover, .slidesjs-pagination li a:visited{
	text-decoration: none;
}
.slidesjs-pagination li a.active{
	background: white;
}
#slides .button_action{
	border:1px solid white;
	color:white;
	background:none;
	margin-bottom: 20px;
	padding: 8px 30px 10px 30px;
	font-size: 18px;
	
}
.button_wrap{
	text-align: center;
	position: relative;
	z-index: 2;
}
#slides .button_action:hover{
	color:#16233b;
	background:white;
}
#slides p{
	text-align: center;
	color: white;
	z-index: 2;
	position: relative;
	text-decoration: none !important;
	font-weight: 300;	
}
#slides .title{
	font-size: 32px;
	margin-top:120px; 
	margin-bottom: 55px;
}
#slides .description{
	margin:0 auto;
	width: 720px;
	line-height: 1.5;
	font-size: 20px;
	font-weight: lighter;
	margin-bottom: 45px;
	max-height: 250px;
	overflow: hidden;
}
#slides .slidesjs-navigation{
	height: 30px;
	width: 17px;
	display: block;
	background: url("img/slider_arrow.png") no-repeat;
	position: absolute;
	z-index: 2;
	font-size: 0;
	opacity: 0.5;
	webkit-transition: all .25s ease-out;
	-moz-transition: all .25s ease-out;
	-o-transition: all .25s ease-out;
	transition: all .25s ease-out;
}
#slides .slidesjs-navigation:hover{
	opacity: 1;
}
#slides .slidesjs-previous{
	left:20px;
	top:285px;
}
#slides .slidesjs-next{
	right:20px;
	top:300px;
	transform: rotate(180deg);
    -webkit-transform: rotate(180deg); /** Chrome & Safari **/
    -o-transform: rotate(180deg); /** Opera **/
    -moz-transform: rotate(180deg); /** Firefox **/
}


#slides .slidesjs-play, #slides .slidesjs-stop{
	display: none !important;
}

.popular{
	height: 680px;
}
.popular h2{
	margin-bottom: 40px;
}
.pop_tour{
	margin-left: 20px;
	margin-bottom: 20px;
	float: left;
	width: 400px;
	height: 270px;
	background: #16233b;
	position: relative;
	overflow: hidden;
}
.pop_tour.high{
	height: 560px;
}
.pop_tour a{
	height: inherit;
	width: inherit;
}
.pop_tour img{
	width: inherit;
	height: inherit;
	position: absolute;
	left:0;
	top:0;
	z-index: 1;
}
.pop_tour .small_darker_wrap{
	height: inherit;
}
.pop_tour .small_darker{
	background: rgba(22,35,59,.5);
	width: inherit;
	height: inherit;
	z-index: 2;
	/*opacity: 0;*/
	margin-top: 270px;
	-webkit-transition: all .75s ease-out 0.2s;
	-moz-transition: all .75s ease-out 0.2s;
	-o-transition: all .75s ease-out 0.2s;
	transition: all .75s ease-out 0.2s;
	position: relative;
}
.pop_tour.high .small_darker{
	margin-top: 560px;
}
.pop_tour:hover .small_darker{
	margin-top: 0;
	opacity: 1;
}
.pop_tour .small_darker>p{
	margin-left: 25px;
	vertical-align: bottom;
	float: left;
}
.pop_tour .small_darker .about_tour{
	max-height: 120px;
	padding-right: 70px;
	margin-top:150px;
	color: white;
	font-size: 18px;
	line-height: 1.5;
	overflow: hidden;
}
.pop_tour.high .small_darker .about_tour{
	margin-top:440px;
}
.map{
	height: 600px;
	background: #16233b;
}
.map .container{
	position: relative;
	overflow: hidden;
}
.map h2{
	color: white;
	margin-top: 0;
	padding-top: 35px;
	position: relative;
	z-index: 7;
}
.map_{
	position: absolute;
	z-index: 1;
	width: 1280px;
	height: 600px;
	top:-50px;
	left:0;
	/*background:url("img/map.svg") 0 -50px no-repeat;*/
}
.season{
	height: 680px;
}
.season h2{
	padding-bottom: 40px;
}
.season .tour_season{
	width: 610px;
	height: 270px;
	margin-left:20px;
	margin-bottom:20px; 
	position: relative;
	float: left;
	background: #16233b;
}
.tour_season img{
	width: inherit;
	height: inherit;
	position: absolute;
	top:0;
	left:0;
	z-index: 1;
}
.tour_season .button_wrap{
	padding-top:110px;
	position: relative;
	z-index: 2;
}
.tour_season .button_action{
	font-size: 24px;
	padding: 12px 40px;
}
.choose_type{
	background: #f3f6f9;
	overflow: hidden;
}
.choose_type .container{
	position: relative;
}
.choose_type h2{
	padding-bottom: 0;
	padding-top: 35px;
}

.typemenu{
	list-style-type: none;
	width: auto;
	margin-top:53px;
	float: left;
	margin-left:20px;
	webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
	padding: 0 20px 25px 20px;
	border-bottom: 1px solid #e7e9eb;
}
.typemenu li{
	margin: 0 30px 0 30px;
	float: left;
	vertical-align: bottom;
	display: inline;
	webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
}
.typemenu a{
	font-size: 16px;
	color: black;
	padding:20px 0 20px 0;
	text-decoration: none;
	-webkit-transition: border-bottom 0.1s ease-out;
	-moz-transition: border-bottom 0.1s ease-out;
	-o-transition: border-bottom 0.1s ease-out;
	transition: border-bottom 0.1s ease-out;
}
.typemenu a:hover, .typemenu a.active{
	border-bottom: 5px solid #7c9dca;
}



.choose_type .pack_of_tours{
	padding-left: 20px;
	overflow: hidden;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
	overflow: hidden;
	position: relative;
	width: 1260px;
	padding-top: 20px;
}
.choose_type .tour{
	width: 400px;
	height: 560px;
	margin-bottom: 20px;
	margin-right: 20px;
	float: left;
	vertical-align: top;
	background:white url("img/loading2.gif") no-repeat;
	background-position: 136px 216px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	color: white;
	font-size: 16px;
}
.choose_type .tour img{
	width: inherit;
	height: inherit;
	position: absolute;
	left:0;
	top:0;
}
.choose_type .small_darker_wrap{
	height: inherit;
	width: inherit;
	position: relative;
}
.choose_type .tour .small_darker{
	background: rgba(22,35,59,.5);
	width: inherit;
	height: inherit;
	z-index: 2;
	/*opacity: 0;*/
	margin-top: 500px;
	-webkit-transition: all .75s ease-out 0.2s;
	-moz-transition: all .75s ease-out 0.2s;
	-o-transition: all .75s ease-out 0.2s;
	transition: all .75s ease-out 0.2s;
	position: relative;
}
.choose_type .tour:hover .small_darker{
	margin-top: 0;
	opacity: 1;
}
.choose_type .tour:hover .name_of_tour{
	margin-top:190px;
}
.choose_type .tour .name_of_tour{
	font-weight: bold;
	text-transform: uppercase;
	-webkit-transition: all .75s ease-out 0.2s;
	-moz-transition: all .75s ease-out 0.2s;
	-o-transition: all .75s ease-out 0.2s;
	transition: all .75s ease-out 0.2s;
}
.choose_type .tour .footer_tour{
	position: absolute;
	top: 460px;
	left:25px;
	width: 350px;
	border-top:1px solid rgba(255,255,255,.5);
}
.choose_type .footer_tour p{
	margin-top: 10px;
}
.choose_type .footer_tour p span{
	color:#8da6c9;
	padding-left: 10px;
}
.choose_type .small_darker>p{
	margin-left: 25px;
	vertical-align: bottom;
	float: left;
}
.choose_type .small_darker .name_of_tour{
	padding-top: 15px;
	margin-bottom:30px;
	margin-top: 0px;
	font-size: 18px;
}
.choose_type .small_darker .about_tour{
	max-height: 380px;
	line-height: 1.5;
	overflow: hidden;
}
.choose_type .button_action{
	border:1px solid #8da6c9;
	color:#8da6c9;
	background:none;
	margin-bottom: 20px;
	padding: 15px 40px 15px 40px;
	font-size: 16px;
	z-index: 1;
}
.choose_type .button_wrap{
	text-align: center;
	position: relative;
}
.choose_type .button_action:hover{
	color:white;
	background:#8da6c9;
}
.header.index, .header.index .container{
	border-bottom:none !important;
}