{% extends 'layout.html' %}
{% load static i18n imagefit %}

  {% block headerclass %}tour-detail{% endblock %}

  {% block extrajs %}
	  <script type="text/javascript" src="http://frame.zabroniryi.ru/js/iframe.resize.js"></script>
	 	<script type="text/javascript" src="http://frame.zabroniryi.ru/js/iframe.main.js"></script>
	 	<script type="text/javascript" src="{% static 'js/zabroniryi.js' %}" charset="UTF-8"></script>
	{% endblock %}

  {% block content %}
    <!-- <div class="example content"></div> -->
    <div class="typical content">
      <div class="container">
        <h2>{{ object.title|safe }}</h2>
        {{ object.text|safe }}
      </div>
    </div>
  {% endblock %}
