{% extends 'layout.html' %}
{% load static i18n %}
  
  {% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/reset.css' %}" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="{% static 'css/headerfooter.css' %}" media="screen">
    <link type="text/css" rel="stylesheet" href="{% static 'css/404.css' %}" media="screen">
  {% endblock %}
  
  {% block content %}
    <div class="err404">
      <a href="" onclick="history.back();" class="button_action">{% trans 'Вернуться назад' %}</a>
    </div>
  {% endblock %}
  
  {% block footer %}
  
  {% endblock %}