{% extends 'layout.html' %}
{% load static %}

{% block css %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/reset.css' %}" media="screen">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link type="text/css" rel="stylesheet" href="{% static 'css/inwork.css' %}" media="screen">
  <link type="text/css" rel="stylesheet" href="{% static 'css/headerfooter.css' %}" media="screen">
{% endblock %}

{% block content %}
  <p class="sorry">Извините, сейчас раздел находится в разработке, но очень скоро всё будет готово! <a href="" onclick="history.back();" class="button_action">Вернуться назад</a></p>
{% endblock %}

{% block footer %}{% endblock %}