<!DOCTYPE html>
{% load static i18n imagefit %}
<html lang="{{ LANGUAGE_CODE }}">
	<head>
		<meta charset="utf-8" />
		<title>Saga Voyages</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="content-language" content="{{ LANGUAGE_CODE }}">
		<meta name="p:domain_verify" content="5046b00c3955e7e90fd9e619d3c56445">
		<meta name="google-site-verification" content="2Fu_SNz8vL1h5BjWpcVxxg0xrmcKAZmqvIQEVB-yV_Y">
		<link rel="alternate" hreflang="ru" href="http://sagavoyages.com/ru/">
		<link rel="alternate" hreflang="en" href="http://sagavoyages.com/en/">
		{% block css %}
		<link type="text/css" rel="stylesheet" href="{% static 'css/reset.css' %}" media="screen">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		<link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}" media="screen">
		<link type="text/css" rel="stylesheet" href="{% static 'css/headerfooter.css' %}" media="screen">
		<link type="text/css" rel="stylesheet" href="{% static 'css/tours.css' %}" media="screen">
		<link type="text/css" rel="stylesheet" href="{% static 'css/typical.css' %}" media="screen">
		{% block extracss %}{% endblock %}
		<link type="text/css" rel="stylesheet" href="{% static 'js/jquery-ui-multiselect-widget/jquery.multiselect.css' %}" media="screen">
		<link type="text/css" rel="stylesheet" href="{% static 'js/jquery-ui-1.11.4.custom/jquery-ui.css' %}" media="screen">
		<link type="text/css" rel="stylesheet" href="{% static 'js/jquery-ui-1.11.4.custom/jquery-ui.theme.css' %}" media="screen">
		{% endblock %}
	</head>
	<body>
		{{ debug }}
		<!— Yandex.Metrika counter —>
		<script type="text/javascript">
		(function (d, w, c) {
		(w[c] = w[c] || []).push(function() {
		try {
		w.yaCounter30313122 = new Ya.Metrika({id:30313122,
		webvisor:true,
		clickmap:true,
		trackLinks:true,
		accurateTrackBounce:true});
		} catch(e) { }
		});

		var n = d.getElementsByTagName("script")[0],
		s = d.createElement("script"),
		f = function () { n.parentNode.insertBefore(s, n); };
		s.type = "text/javascript";
		s.async = true;
		s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

		if (w.opera == "[object Opera]") {
		d.addEventListener("DOMContentLoaded", f, false);
		} else { f(); }
		})(document, window, "yandex_metrika_callbacks");
		</script>
		<noscript><div><img src="//mc.yandex.ru/watch/30313122" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!— /Yandex.Metrika counter —>
		<!-- Google analytics -->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-83672417-1', 'auto');
		  ga('send', 'pageview');

		</script>
		<!-- /Google analytics -->
		{% block beforeheader %}{% endblock %}

		<div class="header content {% block headerclass %}{% endblock %}">
			{% include 'includes/header.html' %}
		</div>

		{% block content %}

		{% endblock %}
		{% block footer %}
		<div class="footer content" id="contacts">
			<div class="container">
				<h2>{% trans 'Контакты' %}</h2>
				<p class="p1">
					<span class="title">{% trans 'Телефоны' %}:</span><br><br>
					{% if LANGUAGE_CODE == 'ru' %}
					<a href="tel:007-863-273-22-18">8-800-775-21-01</a><br>
					<a href="tel:007-863-273-22-18">007-863-273-22-18</a>
					{% else %}
					<a href="tel:007-863-273-22-18">007-961-273-57-50</a><br>
					<a href="tel:007-863-273-22-18">8-800-775-21-01</a>
					{% endif %}
				</p>
				<p class="p2">
					<span class="title">{% trans 'Адрес' %}:</span><br><br>
					{% trans '344064, Россия, г.Ростов-на-Дону,<br>ул.Вавилова 59в/101, оф.223' %}
				</p>
				<p class="p3">
					<span class="title">{% trans 'Электронная почта' %}:</span><br><br>
					<a href="mailto:info@sagavoyages.com">info@sagavoyages.com</a>
				</p>
				<div class="p4">
					<span class="title">{% trans 'Обратная связь' %}:</span><br><br>
					<form action={% url 'feedback' %} id="feedback">
						{% csrf_token %}
						<input type="hidden" name="lang" value="{{ LANGUAGE_CODE|upper }}">
						<input type="text" placeholder="{% trans 'Ваш e-mail' %}" name="email">
						<textarea placeholder="{% trans 'Текст сообщения' %}" name="message"></textarea>
						<div class="button_action">{% trans 'Отправить' %}</div>
					</form>
				</div>
				<p class="p5">
					<span class="title">Skype:</span><br><br>
					<a href="skype:sagavoyages?call">sagavoyages</a>
				</p>
				<p class="p6">
					<span class="title">{% trans 'Показать на карте' %}:</span><br><br>
					<a href="http://goo.gl/SbJXVJ" target="_blank">www.google.ru/maps</a>
				</p>
				<form action="{% url 'subscribe' %}" class="subscribe">
					{% csrf_token %}
					<input type="hidden" name="lang" value="{{ LANGUAGE_CODE|upper }}">
					<div class="p7">
						<span class="title">{% trans 'Подписаться на рассылку' %}:</span><br><br>
						<input type="text" placeholder="your_mail@example.com" id="email" name="email">
						<div class="button_action">{% trans 'Подписаться' %}</div>
					</div>
					<div class="darker">
						<div class="darker2"></div>
						<div class="subscribe_selection">
							<p class="title">{{ subscribe_form.heading | safe }}</p>
							<fieldset class="type">
								<input type="checkbox" id="ch1_1" name="agent"><label for="ch1_1">{{ subscribe_form.agent | safe }}</label>
								<input type="checkbox" id="ch1_2" name="turist"><label for="ch1_2">{{ subscribe_form.turist | safe }}</label>
								<input type="checkbox" id="ch1_3" name="hotelmaster"><label for="ch1_3">{{ subscribe_form.hotelmaster | safe }}</label>
							</fieldset>
							<fieldset class="type">
								<input type="checkbox" id="ch2_0"><label for="ch2_0" class="main">{{ subscribe_form.allsubscription | safe }}</label>
								<input type="checkbox" id="ch2_1" name="scince"><label for="ch2_1">{{ subscribe_form.scince | safe }}</label>
								<input type="checkbox" id="ch2_2" name="etno"><label for="ch2_2">{{ subscribe_form.etno | safe }}</label>
								<input type="checkbox" id="ch2_3" name="eco"><label for="ch2_3">{{ subscribe_form.eco | safe }}</label>
								<input type="checkbox" id="ch2_4" name="extreme"><label for="ch2_4">{{ subscribe_form.extreme | safe }}</label>
								<input type="checkbox" id="ch2_5" name="action"><label for="ch2_5">{{ subscribe_form.action | safe }}</label>
								<input type="checkbox" id="ch2_6" name="piligrim"><label for="ch2_6">{{ subscribe_form.piligrim | safe }}</label>
								<input type="checkbox" id="ch2_7" name="business"><label for="ch2_7">{{ subscribe_form.business | safe }}</label>
								<input type="checkbox" id="ch2_8" name="cruises"><label for="ch2_8">{{ subscribe_form.cruises | safe }}</label>
								<input type="checkbox" id="ch2_9" name="culture"><label for="ch2_9">{{ subscribe_form.culture | safe }}</label>
								<input type="checkbox" id="ch2_10" name="city"><label for="ch2_10">{{ subscribe_form.city | safe }}</label>
								<input type="checkbox" id="ch2_11" name="excursions"><label for="ch2_11">{{ subscribe_form.excursions | safe }}</label>
								<input type="checkbox" id="ch2_12" name="health"><label for="ch2_12">{{ subscribe_form.health | safe }}</label>
							</fieldset>
							<fieldset class="type">
								<input type="checkbox" id="ch3_0"><label for="ch3_0" class="main">{{ subscribe_form.allrussia | safe }}</label>
								<input type="checkbox" id="ch3_1" name="central"><label for="ch3_1">{{ subscribe_form.central | safe }}</label>
								<input type="checkbox" id="ch3_2" name="volgas"><label for="ch3_2">{{ subscribe_form.volgas | safe }}</label>
								<input type="checkbox" id="ch3_3" name="north"><label for="ch3_3">{{ subscribe_form.north | safe }}</label>
								<input type="checkbox" id="ch3_4" name="south"><label for="ch3_4">{{ subscribe_form.south | safe }}</label>
								<input type="checkbox" id="ch3_5" name="ural"><label for="ch3_5">{{ subscribe_form.ural | safe }}</label>
								<input type="checkbox" id="ch3_6" name="siberia"><label for="ch3_6">{{ subscribe_form.siberia | safe }}</label>
								<input type="checkbox" id="ch3_7" name="far_east"><label for="ch3_7">{{ subscribe_form.far_east | safe }}</label>
								<input type="checkbox" id="ch3_8" name="crimea"><label for="ch3_8">{{ subscribe_form.crimea | safe }}</label>
							</fieldset>
							<div class="button_action">{{ subscribe_form.accept | safe }}</div>
						</div>
					</div>
				</form>
				<div class="social_block">
					<a href="https://www.facebook.com/pages/Saga-Voyages-Сага-Вояж/859775180744778" target="_blank" class="fb"></a>
					<a href="https://plus.google.com/u/0/communities/117379132925027283521" target="_blank" class="gp"></a>
					<a href="https://twitter.com/sagavoyages" target="_blank" class="tw"></a>
					<a href="https://www.pinterest.com/Saga_Voyages/" target="_blank" class="pt"></a>
					<a href="https://www.youtube.com/channel/UCrXRcw_ZOLlev4ryRjUmtfg/feed " target="_blank" class="yb"></a>
					<a href="https://www.linkedin.com/groups/Travel-in-Russia-Saga-Voyages-8288394" target="_blank" class="li"></a>
					<a href="https://www.tumblr.com/blog/open-your-russia" target="_blank" class="tl"></a>
					<a href="https://www.sinaweibo.com" target="_blank" class="sw"></a>
					<!-- <a href="https://www.facebook.com/pages/Saga-Voyages-Сага-Вояж/859775180744778" target="_blank" class="ok"></a> -->
					<!-- <a href="https://www.facebook.com/pages/Saga-Voyages-Сага-Вояж/859775180744778" target="_blank" class="vk"></a> -->
				</div>
				<div class="russiatourism_widget_wrapper">
					<script type="text/javascript" src="https://russiatourism.ru/operators/widget/js/widget.js"></script>
					<!-- Russiatourism.ru Widget -->
					<div id="russiatourism_widget"></div>
					<script type="text/javascript">
					    RT.Widget.build('%D0%9C%D0%92%D0%A2+010426');
					</script>
				</div>
				<a href="mailto:nikitabuevich@gmail.com" class="madeby">Designed & Developed by : <b>DVIGAIDELO</b></a>
			</div>
		</div>
		{% endblock %}
		<script type="text/javascript" src="https://yandex.st/jquery/1.10.2/jquery.min.js?v=11" charset="UTF-8"></script>
		<script type="text/javascript" src="{% static 'js/jquery-ui-1.11.4.custom/jquery-ui.js' %}" charset="UTF-8"></script>
		<script type="text/javascript" src="{% static 'js/jquery-ui-multiselect-widget/jquery.multiselect.js' %}" charset="UTF-8"></script>
		<script type="text/javascript" src="{% static 'js/jquery.slides.js' %}" charset="UTF-8"></script>

		<script type="text/javascript" src="{% static 'js/main.js' %}" charset="UTF-8"></script>
		<script type="text/javascript" src="{% static 'js/index.js' %}" charset="UTF-8"></script>
		<script type="text/javascript" src="{% static 'js/tours.js' %}" charset="UTF-8"></script>
		{% block extrajs %}

		{% endblock %}
	</body>
</html>
