{% load i18n %}
          <div class="waiter"></div>{% for tour in tour_list %}
          <a href="{{ tour.absolute_url }}" target="_blank">
            <div class="tour">
              {% if tour.img %}
              <img src="{{ tour.img.url }}">
              {% else %}
              <img src="http://dummyimage.com/400x560/">
              {% endif %}
              <div class="small_darker_wrap">
                <div class="small_darker">
                  <p class="name_of_tour">{{ tour.title|safe }}</p>
                  <p class="about_tour">{{ tour.teaser|safe }}</p>
                  <div class="footer_tour">
                    <p class="long_tour">{% trans 'Продолжительность тура' %}: <span class="">{{ tour.t_duration.first|safe }}</span></p>
                    <p class="living_tour">{% trans 'Проживание' %}: <span class="">{{ tour.accommodation_type|safe }}</span></p>
                  </div>
                </div>
              </div>
            </div>
          </a>{% endfor %}