{% extends 'layout.html' %}
{% load static i18n imagefit %}

  {% block content %}
    <!-- <div class="example content"></div> -->
    <div class="tours content">
      <div class="container">
        <h2>{% trans 'Выберите направление отдыха' %}</h2>
        <div class="select_tours">
          {% csrf_token %}
          <select id="geo_tours" class="multiselect" data-label="{% trans 'География туров' %}" multiple="multiple">{% for unit in tour_regions %}
            <option value="{{ unit.pk }}" {% if unit.id in checked.geography %}selected{% endif %}>{{ unit|safe }}</option>{% endfor %}
          </select>
          <select id="season_tours" class="multiselect" data-label="{% trans 'Время года' %}" multiple="multiple">{% for unit in tour_seasons %}
            <option value="{{ unit.pk }}" {% if unit.id in checked.season %}selected{% endif %}>{{ unit|safe }}</option>{% endfor %}
          </select>
          <select id="types_tours" class="multiselect" data-label="{% trans 'Виды туризма' %}" multiple="multiple">{% for unit in tour_types %}
            <option value="{{ unit.pk }}" {% if unit.id in checked.type %}selected{% endif %}>{{ unit|safe }}</option>{% endfor %}
          </select>
          <select id="duration_tours" class="multiselect" data-label="{% trans 'Продолжительность' %}" multiple="multiple">{% for unit in tour_durations %}
            <option value="{{ unit.pk }}" {% if unit.id in checked.t_duration %}selected{% endif %}>{{ unit|safe }}</option>{% endfor %}
          </select>
        </div>
        <div class="pack_of_tours">

          {% include 'includes/tour_grid.html' %}

        </div>
        <!-- <div class="button_wrap">
          <div class="stop"></div>
          <div class="button_action">Показать еще</div>
        </div> -->
      </div>
    </div>
  {% endblock %}