{% extends 'layout.html' %}
{% load static i18n imagefit %}

  {% block headerclass %}tour-detail{% endblock %}
  
  {% block content %}
    <!-- <div class="example content"></div> -->
    <div class="typical content">
      <div class="container">
        <h2>{{ object.title|safe }}</h2>
        {{ object.text|safe }}
      </div>
    </div>
  {% endblock %}